#home {
  padding-top: 4em;
  text-align: left;
  margin-left: 4em;
  margin-right: 4em;

  h1 {
    font-size: 45px;
    text-align: center;

    span {
      color: var(--color-primary-light);
    }
  }
}
