#create {
    padding-top: 4em;

    h1 {
        font-size: 36px;
    }

    .warning, .error {
        border-radius: 5px;
        color: white;
        text-align: center;
        padding: 2px 0;
        margin: 5px 1em;
    }

    .warning {
        background-color: orange;
    }

    .error {
        background-color: rgb(199, 12, 12);
    }
}
