.page {
    margin-top: 3em;

    hr {
        margin-bottom: 2em;
        width: 50%;
    }

    .cards {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
        flex-wrap: wrap;

        & > div > div,
        & > div > a {
            height: 90%;
            width: 16em;
            text-align: center;
            background-color: var(--color-secondary);
            color: var(--color-text);
            font-size: 14px;
            margin: 1em 2em;
            padding: 4px 12px 0;
            border: 2px solid var(--color-border);
            border-radius: 8px;
            box-shadow: 6px 5px 6px var(--color-shadow);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}
