.collabs {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    margin: auto;
    width: fit-content;

    .bubble {
        margin-right: .3em;
        $size: 2em;
        height: $size;
        width: $size;
        border-radius: 50%;
        background-color: var(--color-primary-light);
        color: white;
        display: grid;
        place-items: center;

        & > span {
            display: none;
            position: absolute;
            transform: translate3d(40%, calc($size * 1.2), 0);
            z-index: 10;
            color: initial;
            background-color: white;
            box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
            border-radius: 0.375rem;
            border-width: 1px;
            min-width: 6em;
            padding: 0.5rem 0.2em;
            text-align: center;
        }
        &:hover > span {
            display: initial;
        }
    }
}
