#specs {
    position: fixed;
    height: 100%;
    width: 100%;

    #menu {
        position: absolute;
        top: 1em;
        left: 1em;
        z-index: 10;

        background-color: white;
        box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0.375rem;
        border-width: 1px;

        cursor: pointer;

        hr {
            margin: 0;
            width: 100%;
            border: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        }

        p {
            margin: 0;
            padding: 0.5em 0.4em;
            transition: all 200ms ease-in-out;

            &:hover {
                background-color: rgba(0, 0, 0, 0.05);
            }
        }
    }

    .popup {
        position: absolute;
        top: 1em;
        left: 50%;
        transform: translateX(-50%);
        z-index: 20;

        .success, .error {
            border-radius: 5px;
            color: white;
            text-align: center;
            padding: 2px 10px;
            margin: 5px 1em;
        }

        .success {
            background-color: rgb(43, 135, 43);
        }

        .error {
            background-color: rgb(199, 12, 12);
        }
    }


    #treeContent {
        border: 1px solid black;
        position: fixed;
        height: 100%;
        width: 100%;
    }
}
