#specs {
    position: fixed;
    height: 100%;
    width: 100%;

    .hover_menu {
        position: absolute;
        top: 1em;
        left: 1em;
        z-index: 15;

        .menu {
            background-color: white;
            box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
            border-radius: 0.375rem;
            border-width: 1px;

            cursor: pointer;

            hr {
                margin: 0;
                width: 100%;
                border: none;
                border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            }

            p {
                margin: 0;
                padding: 0.5em 0.4em;
                transition: all 200ms ease-in-out;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.05);
                }
            }
        }

        .users {
            position: relative;
            top: 1em;
            z-index: 10;
            padding-left: 0.5em;

            .collabs {
                margin: 0;
                flex-wrap: wrap;

                .bubble {
                    margin-bottom: .3em;
                }
            }
        }

        .menu, .users {
            width: 10em;
        }
    }

    .chat {
        position: absolute;
        bottom: 10em;
        left: 1em;
        z-index: 30;

        background-color: white;
        box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0.375rem;
        border-width: 1px;
        padding: 0.5em 0.4em;

        h4 {
            margin-top: 0;
            margin-bottom: 8px;
        }
        #msgs {
            text-align: left;
            width: 10em;
            max-height: 10em;
            overflow-y: auto;
        }
        input {
            border: 1px solid lightgray;
            border-radius: 5px;
            font-size: 16px;
            width: 10em;
        }
    }

    .popup {
        position: absolute;
        top: 1em;
        left: 50%;
        transform: translateX(-50%);
        z-index: 20;

        .success, .info, .error {
            border-radius: 5px;
            color: white;
            text-align: center;
            padding: 2px 10px;
            margin: 5px 1em;
        }

        .success {
            background-color: rgb(43, 135, 43);
        }

        .info {
            background-color: orange;
        }

        .error {
            background-color: rgb(199, 12, 12);
        }
    }

    .modal-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0);
        z-index: 9;
    }
    &.overlay .modal-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        transition: background-color 0.3s ease;
        z-index: 15;
    }

    #treeContent {
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: #FFF;
        z-index: 10;
    }
    
    .inactive {
        pointer-events: none;
    }
}
