#proto {
    position: fixed;
    height: 100%;
    width: 100%;

    .links {
        display: flex;
        width: 80%;
        margin: 0.8em auto;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

        p {
            text-decoration: none;
            text-transform: capitalize;
            color: white;
            background-color: var(--color-primary-light);
            border: 2px solid var(--color-primary-medium);
            box-shadow: 0 1px 1.5px 1.5px rgba(0, 0, 0, 0.2);
            padding: 4px 8px;
            border-radius: 20%;
            cursor: pointer;
            transition: all 200ms ease-in-out;

            &:hover {
                background-color: var(--color-primary);
            }
        }
    }

    #exec_window {
        border-top: 1px solid black;
        height: 100%;
        width: 100%;

        .centered {
            display: grid;
            place-content: center;
            height: 70% !important;
            margin: 0;
        }

        #placeholder {
            height: 100%;
            width: 100%;
            text-align: left;

            &>* {
                height: 100%;
            }
        }
    }
}
