.tree {
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size: 1.2em;
    color: #2D3748;

    g {
        &.rd3t-node, &.rd3t-leaf-node {
            stroke-width: 1px;

            g:hover {
                fill: rgb(215, 234, 250);
            }
            g {
                fill: #F7FAFC;
                stroke: #2D3748;

                circle {
                    r: 35px;
                }
                text {
                    stroke: none;
                    fill: black;
                    font-size: 1em;
                }
                foreignObject {
                    background-color: #F7FAFC;

                    select {
                        margin-top: 4px;
                        option {
                            font-size: 0.9rem;
                        }
                    }
                    input, select {
                        font-size: 1rem;
                        width: calc(100% - 10px);
                    }
                }
            }
        }
    }
}
