.modal {
    position: fixed;
    z-index: 20;
    background: #fff;
    width: 500px;

    /* Center the modal */
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    h2 {
        color:white;
    }

    .modal-header {
        background-color: var(--color-primary-medium);
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
    }

    .modal-main {
        padding: 20px;
    }

    .close-button {
        border: none;
        background: transparent;
        padding: 10px;
        cursor: pointer;
        color: #fff;
        font-size: 36px;
    }

    .close-button:hover {
        color: black;
    }

    .overlay {
        background-color: rgba(0,0,0,0.5);
    }

    .modalInput:hover {
        color: var(--color-primary);
        cursor: pointer;
    }
}