#navbar {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: 4em;
    background-color: var(--color-primary);
    color: white;
    padding: 0 1em;

    .title {
        cursor: pointer;
        display: flex;
        transition: all 400ms ease-in-out;
        text-decoration: none;
        color: inherit;

        &:hover {
            background-color: rgba(0,0,0,.2);
        }

        & > div {
            font-size: 25px;
            font-weight: bold;
            margin: auto;
            margin-left: 1em;
            margin-right: 1em;
        }
    }

    .left-part {
        display: flex;
        flex-direction: row;
    }

    .user {
        margin: auto 1em;
        height: 2.2em;
    }
}