#navbar {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: 4em;
    background-color: var(--color-primary);
    color: white;
    padding: 0 1em;

    .title {
        cursor: pointer;
        display: flex;
        transition: all 400ms ease-in-out;
        text-decoration: none;
        color: inherit;

        &:hover, &.current {
            background-color: rgba(0, 0, 0, 0.2);
        }

        & > div {
            font-size: 25px;
            font-weight: bold;
            margin: auto;
            margin-left: 1em;
            margin-right: 1em;
        }
    }

    .left-part {
        display: flex;
        flex-direction: row;
    }

    .user {
        margin: auto 0.2em;

        svg {
            height: 2.2em;
            background-color: white;
            border-radius: 50%;

            path {
                color: rgb(160, 174, 192);
            }

            &:hover {
                cursor: pointer;
            }

            &:active {
                box-shadow: 0 0 0 3px var(--color-primary-light);
            }
        }

        .card {
            position: absolute;
            inset: 0 0 auto auto;
            transform: translate3d(-16px, 56px, 0);
            z-index: 10;
            background-color: white;
            box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
            border-radius: 0.375rem;
            border-width: 1px;
            min-width: 14rem;
            padding: 0.5rem 0;

            display: flex;
            flex-direction: column;
            align-items: stretch;

            p, a {
                color: rgb(26, 32, 44);
                line-height: 24px;
                padding: 6px 12px;
                margin: 0;
            }

            a {
                text-align: left;
                color: rgb(26, 32, 44);
                line-height: 24px;
                padding: 6px 12px;
                text-decoration: none;
                transition: all 200ms ease-in-out;

                &:hover {
                    cursor: pointer;
                    background-color: rgba(0, 0, 0, 0.05);
                }
            }

            hr {
                width: 100%;
                border: none;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            }
        }
    }
}
