:root {
	--color-primary: rgb(43 108 176);
	--color-primary-medium: rgb(52, 121, 194); //verif
    --color-primary-light: rgb(66, 153, 225);
    --color-shadow: #272728;
}

#root {
    min-height: 100%;
    position: relative;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    text-align: center;
    background-color: #f7fafc;
}

section {
    .card {
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),0 4px 6px -2px rgba(0, 0, 0, 0.05);
        border-radius: 0.375rem;
        border-width: 1px;
        margin: auto;
        background-color: white;
        padding: 1.8em 2em;
    
        &.small {
            width: 13em;
        }
    
        &.medium {
            width: 25em;
        }
    
        &.large {
            width: 30em;
        }
    }

    a {
        text-decoration: none;
    }
}
