:root {
	--color-primary: rgb(43 108 176);
	--color-primary-medium: rgb(52, 121, 194); //verif
    --color-primary-light: rgb(66, 153, 225);
    --color-shadow: #272728;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    text-align: center;
    background-color: #f7fafc;
}

// section {
// }
