node_modules/
build/

.dockerignore
Dockerfile
Dockerfile.prod

# git files
readme.md
.gitignore

# docker files
.dockerignore
Dockerfile
Dockerfile.prod
docker-compose.yml

# react files
node_modules
build
