#detail {
    h1 {
        font-size: 36px;
    }

    .card {        
        hr {
            width: 75%;
            border: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        }

        h1 {
            margin-top: 0;
        }

        table {
            margin: auto;
        }

        .warning, .error {
            border-radius: 5px;
            color: white;
            text-align: center;
            padding: 2px 0;
            margin: 5px 1em;
        }
    
        .warning {
            background-color: orange;
        }
    
        .error {
            background-color: rgb(199, 12, 12);
        }
        
        .button {
            width: 100%;
            color: white;
            background-color: var(--color-primary-light);
            padding: .6em 0 .5em;
            border-radius: 5px;
            text-align: center;
            font-weight: bold;
            cursor: pointer;
            font-size: 17px;

            &.delete {
                margin-top: 0.6em;
                background-color: rgb(199, 12, 12);
            }
        }

        .input_group {
            margin-bottom: 1.2em;
            text-align: left;
            display: flex;
            flex-direction: column;

            label {
                font-weight: bold;
                font-size: 16px;
            }

            input, select, textarea {
                margin-top: 10px;
                border: 1px solid lightgray;
                border-radius: 5px;
                padding: 13px 16px 9px;
                font-size: 16px;
            }
            textarea {
                height: 6em;
            }
        }
    }
}