#detail {
    h1 {
        font-size: 36px;
    }

    .card {        
        hr {
            width: 75%;
            border: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        }

        h1 {
            margin-top: 0;
            margin-bottom: 0.4em;
        }

        table {
            margin: auto;
        }

        .warning, .error {
            border-radius: 5px;
            color: white;
            text-align: center;
            padding: 2px 0;
            margin: 5px 1em;
        }
    
        .warning {
            background-color: orange;
        }
    
        .error {
            background-color: rgb(199, 12, 12);
        }
        
        .button.delete {
            margin-top: 0.6em;
            background-color: rgb(199, 12, 12);
        }

        .input_group textarea {
            height: 6em;
        }
    }
}