#projects {
    width: 98%;
    margin: auto;

    .head {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 1em 0;

        img {
            $size: 6.2em;
            height: $size;
            width: $size;
            border-radius: 50%;
        }

        h1 {
            margin: .2em 1.3em 0;
            font-size: 36px;
        }

        .button {
            margin-left: auto;
            margin-right: 2em;
            color: white;
            background-color: var(--color-primary-medium);
            padding: .6em .9em .5em;
            border-radius: 5px;
            text-align: center;
            font-weight: bold;
            cursor: pointer;
            font-size: 17px;
            text-decoration: none;

            svg {
                padding-right: .4em;
            }
        }
    }

    table {
        margin: auto;
        width: 100%;
        margin: 1.3em 0 .8em;
        text-align: left;
        border-collapse: collapse;

        td, th {
            padding-left: 2em;
            font-size: 15px;
            color: rgb(49, 49, 49); //ajuster
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            padding-bottom: .8em;
        }

        thead {
            th {
                text-transform: uppercase;
                font-weight: bold;
            }
        }

        tbody {
            td {
                $padding: 1.3em;
                padding-top: $padding;
                padding-bottom: $padding;
            }

            .button {
                color: white;
                background-color: var(--color-primary-light);
                padding: .6em .9em .5em;
                border-radius: 5px;
                text-align: center;
                font-weight: bold;
                cursor: pointer;
                text-decoration: none;
            }

            .collabs {
                display: flex;
                flex-direction: row;

                .bubble {
                    margin-right: .3em;
                    $size: 2em;
                    height: $size;
                    width: $size;
                    border-radius: 50%;
                    background-color: var(--color-primary-light);
                    color: white;
                    display: grid;
                    place-items: center;

                    & > span {
                        display: none;
                        position: absolute;
                        transform: translate3d(40%, calc($size * 1.2), 0);
                        z-index: 10;
                        color: initial;
                        background-color: white;
                        box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
                        border-radius: 0.375rem;
                        border-width: 1px;
                        min-width: 6em;
                        padding: 0.5rem 0.2em;
                        text-align: center;
                    }
                    &:hover > span {
                        display: initial;
                    }
                }
            }
        }
    }
}