#projects {
    position: relative;
    width: 98%;
    margin: auto;

    .head {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 1em 0;

        img {
            $size: 6.2em;
            height: $size;
            width: $size;
            border-radius: 50%;
        }

        h1 {
            margin: .2em 1.3em 0;
            font-size: 36px;
        }

        .button {
            width: initial;
            margin-left: auto;
            margin-right: 2em;
            background-color: var(--color-primary-medium);
            padding: .6em .9em .5em;

            svg {
                padding-right: .4em;
            }
        }
    }

    .popup {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 20;

        .success, .info, .error {
            border-radius: 5px;
            color: white;
            text-align: center;
            padding: 2px 10px;
            margin: 5px 1em;
        }

        .success {
            background-color: rgb(43, 135, 43);
        }

        .info {
            background-color: orange;
        }

        .error {
            background-color: rgb(199, 12, 12);
        }
    }

    table {
        width: 100%;
        margin: 1.3em 0 .8em;
        text-align: left;
        border-collapse: collapse;

        td, th {
            padding-left: 2em;
            font-size: 15px;
            color: rgb(49, 49, 49); //ajuster
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            padding-bottom: .8em;
        }

        thead {
            th {
                text-transform: uppercase;
                font-weight: bold;
            }
        }

        tbody {
            td {
                $padding: 1.3em;
                padding-top: $padding;
                padding-bottom: $padding;

                &:first-of-type {
                    display: flex;
                }
            }

            .button {
                padding: .6em .9em .5em;
                flex-grow: 1;

                &.red {
                    background-color: rgb(199, 12, 12);
                    border: none;
                    width: fit-content;
                }
            }

            .collabs {
                display: flex;
                flex-direction: row;
                margin: 0;

                .bubble {
                    margin-right: .3em;
                    $size: 2em;
                    height: $size;
                    width: $size;
                    border-radius: 50%;
                    background-color: var(--color-primary-light);
                    color: white;
                    display: grid;
                    place-items: center;

                    & > span {
                        display: none;
                        position: absolute;
                        transform: translate3d(40%, calc(100% * 1.2), 0);
                        z-index: 10;
                        color: initial;
                        background-color: white;
                        box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
                        border-radius: 0.375rem;
                        border-width: 1px;
                        min-width: 6em;
                        padding: 0.5rem 0.2em;
                        text-align: center;
                    }
                    &:hover > span {
                        display: initial;
                    }
                }
            }
        }
    }
}
